{
  "parser": "babel-eslint",
  "plugins": ["react", "import", "jsx-a11y"],
  "extends": ["airbnb"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "max-len": 0,
    "import/named": 0,
    "no-console": "warn",
    "react/forbid-prop-types": 0,
    "import/no-dynamic-require": 0,
    "import/no-named-as-default": 0,
    "react/require-default-props": 0,
    "import/newline-after-import": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/no-extraneous-dependencies": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
